.fundo {
    background-color: var(--cor3);
    display: flex;
    width: 100%;
    height: 130px;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    position: absolute;
    margin-left: -1220px;
}

.nav-style {
    display: flex;
    gap: 200px;
    list-style: none;
}

.nav-link a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-style a:hover {
    color: rgb(0, 26, 83); 
    transform: scale(1.2); 
    transition: color 0.3s ease, transform 0.3s ease; 
}

.profile-container {
    position: absolute; /* Necessário para posicionar o select em relação à imagem */
    margin-left: 70%;
}

#profile {
    cursor: pointer;
}

.select-hidden {
    display: none;
    left: 40px;
    top: 0;
    z-index: 10;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 150px;
    padding: 5px;
    box-sizing: border-box;
}

select {
    width: 100px;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
}