<div class="fundo">
    <div class="logo">
        <a><img src="../../assets/images/logo.png" alt="logo" style="width: 90px;"></a>
    </div>
    <div class="nav-bar">
        <ul class="nav-style">
            <li class="nav-link"><a href="../home/home.html">Página Inicial</a></li>
            <li class="nav-link"><a href="../preenchimento/preenchimento.html">Adicionar Manutenção</a></li>
            <li class="nav-link"><a href="../historico/historico.html">Ver Histórico</a></li>
        </ul>
    </div>
</div>
<link rel="stylesheet" href="./header.css">