.fundo {
    background-color: var(--cor3);
    display: flex;
    width: 100%;
    height: 130px;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    position: absolute;
    margin-left: -1220px;
}

.nav-style {
    display: flex;
    gap: 200px;
    list-style: none;
}

.nav-link a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}