@charset "UTF-8";
@import url("../header/header.css");
@import url("../footer/footer.css");

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

:root {
    --cor0: #FFFF;
    --cor2: #D7D7D7;
    --cor3: #0054A6;
}

body {
    background-color: var(--cor2);
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px;
}

.titulo h2 {
    padding-bottom: 8px;
}

.titulo h4 {
    font-weight: lighter;
}

.seta-voltar {
    display: flex;
    margin: 32px 28px;
    position: absolute;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    display: block;
    border-collapse: collapse;
    text-align: center;
    border-top: 40px;
    border-right: 40px;
    border-left: 40px;
    border-bottom: 300px;
    border-style: solid;
    border-radius: 24px;
    border-color: var(--cor3);
}

th {
    background-color: rgb(97, 97, 97);
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    padding: 16px 64px 16px 64px;
    border: 1px solid black;
}

td {
    background-color: var(--cor2);
    padding: 12px 42px 12px 42px;
    border: 1px solid black;
}

.especificacoes {
    display: block;
    position: absolute;
    margin-top: 155px;
}

::placeholder {
    padding-left: 4px;
    padding-top: 4px
}

#tipo {
    width: 800px;
    height: 70px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#detalhes {
    width: 800px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 5px;
}

textarea {
    resize: none;
}

#custo {
    width: 800px;
    height: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
}
