<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./login.css">
    <title>Login</title>
</head>
<body>
    <main>
        <div class="container">
            <div id="box-logo">
                <img id="logo" src="../../assets/images/logo.png" alt="logo">
            </div>

            <form>
                <div id="cad-box"><h2 id="cadastro">LOGIN</h2></div>

                <div class="preenchiveis">
                    <div class="inputs">
                        <div class="input-icon">
                            <img id="email-icon" src="../../assets/icons/email.png" alt="email">
                            <input type="text" placeholder="E-mail" required>
                        </div>
                        <div class="input-icon">
                            <img id="password-icon" src="../../assets/icons/password.png" alt="password">
                            <input type="text" placeholder="Senha" required>
                        </div>
                    </div>

                    <!--
                    <div id="input-checkbox">
                        <div class="box-checkbox"><input id="checkbox" type="checkbox"><p>Mostrar senha</p></div>
                    </div>
                    -->
                    </div>
                
                <div class="botoes">
                    <a href="../login/login.html"><button id="cancelar">Cancelar</button></a>
                    <button id="botao-confirmar">Confirmar</button>
                </div>

            </form>
        </div>
    </main>
</body>
</html>