@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

:root {
    --cor0: #FFFF;
    --cor2: #D7D7D7;
    --cor3: #0054A6;
}

body {
    background-color: var(--cor3);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 450px;
    height: 400px;
    justify-content: center;
    border: 4px solid white;
    border-radius: 32px;
    margin-top: 130px;
    box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.726);}

#box-logo {
    display: flex;
    position: absolute;
    margin-top: -5%;
    background-color: var(--cor3);
}

#cad-box {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 24px;
    color: white;
}

input {
    height: 30px;
    width: 360px;
    border-radius: 8px;
    border-style: none;
    padding: 6px;
    padding-left: 50px;
}

.input-password {
    margin-bottom: -20px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
}

.input-icon {
    display: flex;
    align-items: center;
}

#email-icon, #password-icon {
    width: 20px; 
    padding: 11px; 
    margin-left: 0px; 
    border-top-left-radius: 8px; 
    border-bottom-left-radius: 8px; 
    position: absolute; 
    background-color: var(--cor2);
}

.box-checkbox {
    display: flex;
}

#box {
    margin-right: 6px;
}

label {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.664);
}

.botoes {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#botao-login {
    border: none;
    width: 415px;
    padding: 8px 16px;
    border-radius: 12px;
    cursor: pointer;
}

#botao-login:hover {
    filter: brightness(1.3); 
    transition: transform 0.3s ease, filter 0.3s ease; 
}

#botao-login {
    background-color: var(--cor3);
    color: white;
    border: 1px solid white;

}

p {
    color: rgba(255, 255, 255, 0.664);
}

#cadastre-se {
    color: white;
}

#cadastre-se:hover {
    filter: brightness(1.5);
    color: rgb(45, 138, 201);
    transition: transform 0.3s ease, filter 0.3s ease; 
}