<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./login.css">
    <title>Login</title>
</head>
<body>
    <main>
        <div class="container">
            <div id="box-logo">
                <img id="logo" src="../../assets/images/logo.png" alt="logo">
            </div>

            <form id="login-form">
                <div id="cad-box"><h2 id="cadastro">LOGIN</h2></div>

                <div class="preenchiveis">
                    <div class="inputs">
                        <div class="input-email">
                            <img id="email-icon" src="../../assets/icons/email.png" alt="email">
                            <input type="text" id="email" placeholder="E-mail" required>
                        </div>
                        <div class="input-email">
                            <img id="password-icon" src="../../assets/icons/password.png" alt="password">
                            <input id="password" type="password" placeholder="Senha" required>
                            <img id="eye-icon" src="../../assets/icons/olhin fechado.png" alt="eye" onclick="togglePasswordVisibility()">
                        </div>           
                    </div>  
                </div>
                
                <div class="botoes">
                    <button type="submit" id="botao-login">LOGIN</button>
                    <p>Não possui uma conta? <a id="cadastre-se" href="../cadastro/cadastro.html">Cadastre-se</a></p>
                </div>
                <div class="mensagem_tempora" id="mensagemEmailNaoCadastrado" style="display: none;">
                    <p>E-mail não cadastrado!</p>
                </div>
                <div class="mensagem_tempora" id="mensagemCredenciaisInvalidas" style="display: none;">
                    <p>Credenciais inválidas!</p>
                </div>
                <div class="mensagem_tempora" id="mensagemErroGenerico" style="display: none;">
                    <p>Erro ao tentar fazer login. Tente novamente mais tarde.</p>
                </div>              
            </form>
        </div>
    </main>
    <script src="../login/login.js"></script> 
</body>
</html>