@charset "UTF-8";
@import url("../header/header.css");
@import url("../footer/footer.css");

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

:root {
    --cor0: #FFFF;
    --cor2: #D7D7D7;
    --cor3: #0054A6;
}

body {
    background-color: var(--cor2);
}

.titulos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titulo {
    margin-top: 38px;
    margin-bottom: 16px;
}

#subtitulo {
    margin-bottom: 16px;
    font-weight: normal;
}

#subtitulo2 {
    margin-left: -22px;
    margin-bottom: 32px;
}

.botoes-principais {
    display: flex;
    gap: 32px;
    justify-content: center;
}

.image-adicionar {
    padding: 80px 120px 150px 120px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.548);
}

.image-historico {
    padding: 55px 102px 140px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.548);
}

.botao-adicionar {
    display: flex;
    justify-content: center;
}

.botao-historico {
    display: flex;
    justify-content: center;
}

#titulo-manutencao {
    position: absolute;
    margin-top: 290px;
}

#titulo-historico {
    position: absolute;
    margin-top: 290px;
}

#subtitulo-manutencao {
    position: absolute;
    margin-top: 320px;
    color: black;
}

#subtitulo-historico {
    position: absolute;
    margin-top: 320px;
    color: black;
}