@charset "UTF-8";
@import url("../header/header.css");
@import url("../footer/footer.css");

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

:root {
    --cor0: #FFFF;
    --cor2: #D7D7D7;
    --cor3: #0054A6;
}

body {
    background-color: var(--cor2);
}

main h2, h3, h4{
    display: flex;
    justify-content: center;
    align-items: center;
}

#titulo {
    margin-top: 38px;
    margin-bottom: 28px;
}

#subtitulo {
    padding-bottom: 16px;
    font-weight: normal;
}

#subtitulo2 {
    margin-bottom: 38px;
    margin-left: -22px;
    font-weight: normal;
}

.botoes-principais {
    display: flex;
    gap: 38px;
    justify-content: center;
}

.botao-adicionar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.adicionar {
    padding: 80px 120px 150px 120px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.548);
    border-radius: 4px;
}

.botao-historico {
    display: flex;
    align-items: center;
    justify-content: center;
}

.historico {
    padding: 70px 110px 140px 110px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.548);
    border-radius: 4px;
}

#titulo-botoes {
    display: flex;
    position: absolute;
    margin-top: 200px;
}

#subtitulo-botoes {
    display: flex;
    position: absolute;
    margin-top: 250px;
    color: rgb(58, 57, 57);
}