<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./home.css">
</head>
<body>
    <header id="header-geral"></header>
    <main>
        <div class="titulos">
            <h2 id="titulo">MANUTENÇÃO DE AR CONDICIONADO</h2>
            <h3 id="subtitulo">COLÉGIO NOSSA SENHORA DE LOURDES</h3>
            <h4 id="subtitulo2">ADICIONAR MANUTENÇÃO ----- VISUALIZAR HISTÓRICO</h4>

        </div>

        <div class="botoes-principais">
            <div class="botao-adicionar">
                <a href="../preenchimento/preenchimento.html"><img class="image-adicionar" src="/assets/icons/icon-manutencao.png" alt="manutenção" style="width: 180px;"></a>
                <h2 id="titulo-manutencao">Adicionar Manutenção</h2>
                <p id="subtitulo-manutencao">campo para preencher a tabela de manutenções</p>
            </div>

            <div class="botao-historico">
                <a href="../historico/historico.html"><img class="image-historico" src="/assets/icons/icon-calendario.png" alt="calendario" style="width: 215px;"></a>
                <h2 id="titulo-historico">Ver Histórico</h2>
                <p id="subtitulo-historico">campo para visualizar o histórico de manutenções</p>
            </div>
        </div>
        <div id="mensagem-erro-autenticacao" class="mensagem_tempora">
            Você precisa estar autenticado para acessar esta página.
        </div>
        <div id="mensagem-erro-sessao-expirada" class="mensagem_tempora">
            Sessão expirada ou inválida.
        </div>
        <div id="mensagem-erro-verificacao" class="mensagem_tempora">
            Erro ao verificar sessão. Redirecionando para o login.
        </div>        
    </main>

    <footer id="footer-geral"></footer>
    <script src="./home.js" defer></script>
</body>
</html>