<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./home.css">
</head>

<body>
    <!-- O header será carregado aqui dinamicamente -->
    <header id="header-geral"></header>

    <main>
        <h2 id="titulo">MANUTENÇÃO DE AR CONDICIONADO</h2>
        <h3 id="subtitulo">COLÉGIO NOSSA SENHORA DE LOURDES</h3>
        <h4 id="subtitulo2">ADICIONAR MANUTENÇÃO --- VISUALIZAR HISTÓRICO</h4>

        <div class="botoes-principais">
            <div class="botao-adicionar">
                <a href="../preenchimento/preenchimento.html"><img class="adicionar" src="../../assets/icons/icon-manutencao.png" alt="adicionar"></a>
                <h2 id="titulo-botoes">Adicionar Manutenção</h2>
                <p id="subtitulo-botoes">campo para preencher a tabela de manutenções</p>
            </div>
            <div class="botao-historico">
                <a href="../historico/historico.html"><img class="historico" src="../../assets/icons/icon-calendario.png" alt="calendario"></a>
                <h2 id="titulo-botoes">Ver Histórico</h2>
                <p id="subtitulo-botoes">campo para visualizar o histórico de manutenções</p>
            </div>
        </div>
    </main>

    <footer id="footer-geral"></footer>
    <script src="./home.js" defer></script>
</body>
</html>