<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="historico.css">
</head>

<body>

    <header id="header-geral"></header>

    <main>
        <div class="titulo">
            <h2>HISTÓRICO DE SERVIÇOS</h2>
            <h4>Gerenciamento das manutenções realizadas</h4>
        </div>
        
        <div class="filter-box">
            <ul id="listFilter"></ul> 
            <select id="filtrar">
                <option value="">Filtrar</option>
                <option value="lugar">Local</option>
                <option value="modelo_marca">Modelo</option>
                <option value="data_manutencao">Data</option>
                <option value="nome">Profissional</option>
                <option value="tipo_manutencao">Tipo manutenção</option>
            </select>

            <select id="local">
                <option value="">Selecione o Local</option>
                <option value="1° A">1° A</option>
                <option value="1° B">1° B</option>
                <option value="1° C">1° C</option>
                <option value="2° A">2° A</option>
                <option value="2° B">2° B</option>
                <option value="2° C">2° C</option>
                <option value="3° A">3° A</option>
                <option value="3° B">3° B</option>
                <option value="3° C">3° C</option>
                <option value="Laboratorio de informática">Laboratorio de informática</option>
                <option value="Sala de estudos">Sala de estudos</option>
            </select>

            <select id="modelo">
                <option value="">Selecione o Modelo</option>
                <option value="Carrier Eco Saver Puron">Carrier Eco Saver Puron</option>
                <option value="Daikin FTXS25J">Daikin FTXS25J</option>
                <option value="LG-Dual Inverter">LG-Dual Inverter</option>
                <option value="Inversor Fujitsu">Inversor Fujitsu</option>
                <option value="Midea Liva Wi-Fi">Midea Liva Wi-Fi</option>
                <option value="Gree Eco Garden">Gree Eco Garden</option>
                <option value="Outros">Outros</option>
            </select>

            <select id="data">
                <option value="">Selecione o Intervalo de tempo</option>
                <option value="ultimos_7_dias">Últimos 7 dias</option>
                <option value="ultimos_15_dias">Últimos 15 dias</option>
                <option value="ultimos_30_dias">Últimos 30 dias</option>
                <option value="ultimos_3_meses">Últimos 3 meses</option>
                <option value="ultimos_6_meses">Últimos 6 meses</option>
                <option value="ultimos_12_meses">Últimos 12 meses</option>
            </select>            

            <select id="profissional">
                <option value="">Selecione o Profissional</option>
            </select>

            <select id="tipo_manutencao">
                <option value="">Selecione o tipo</option>
                <option value="Corretiva">Corretiva</option>
                <option value="Preventiva">Preventiva</option>
            </select>
            
                <div class="botao-buscar">
                    <button id="buscar">Buscar</button>
                </div>
            </div>

            <div> <div class="botao-refresh">
                <button id="refresh" style="width: 100px; height: 32px; " > Limpar filtro</button>
            </div>
        </div>

        <div class="container">

            <div id="overlay" style="display: none;">
                <div class="confirmar_excluir">
                    <h3>Deseja realmente excluir a manutenção?</h3>
                    <p>A exclusão da manutenção será irreversível!</p>
                    <div id="botoesConfirmacao">
                        <button id="close">Cancelar</button>
                        <button id="check">Confirmar</button>
                    </div>
                </div>
            </div>
            

            <div class="mensagem_tempora" id="mensagemTempora" style="display: none;">
                <p>Manutenção excluída com sucesso!</p>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>LOCAL</th>
                        <th>MODELO</th>
                        <th id="thTipo">TIPO DE MANUTENÇÃO</th>
                        <th id="thProfissional">PROFISSIONAL</th>
                        <th id="thData">DATA</th>
                        <th id="thOpcoes">OPÇÕES</th>
                    </tr>
                </thead>
                <tbody id="historicList"></tbody>
            </table>
            <div id="mensagemErro" class="mensagem_erro"></div>
        </div>
    </main>
    
    <footer id="footer-geral"></footer>
    <script src="../historico/historico.js" defer></script>
</body>
</html>