<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="historico.css">
</head>

<body>
    <!-- O header será carregado aqui dinamicamente -->
    <header id="header-geral"></header>

    <div class="seta-voltar">
        <a href="../home/home.html"><img src="../../assets/icons/setavoltar2.png" alt="seta" style="width: 45px;"></a>
    </div>

    <main>
        <div class="titulo">
            <h2>HISTÓRICO DE SERVIÇOS</h2>
            <h4>Gerenciamento das manutenções realizadas</h4>
        </div>
        
        <div class="filter-box">
            <ul id="listFilter"></ul> <!-- Alterado ID para evitar duplicação -->
            <select id="filtrar">
                <option value="">FILTRAR</option>
                <option value="lugar">Local</option>
                <option value="modelo_marca">Modelo</option>
                <option value="data_manutencao">Data</option>
                <option value="nome">Profissional</option>
            </select>

            <select id="local">
                <option value="lugar">Selecione o Local</option>
                <option value="sala a">Sala A</option>
                <option value="sala b">Sala B</option>
                <option value="sala c">Sala C</option>
                <option value="sala d">Sala D</option>
                <option value="sala e">Sala E</option>
            </select>

            <select id="modelo">
                <option value="modelo_marca">Selecione o Modelo</option>
                <option value="modelo 01 e marca 01">Daikin FTXS25J</option>
                <option value="modelo 02 e marca 02">LG-Dual Inverter</option>
                <option value="modelo 03 e marca 03">Inversor Fujitsu</option>
                <option value="modelo 04 e marca 04">Midea Liva Wi-Fi</option>
                <option value="modelo 05 e marca 05">Gree Eco Garden</option>
            </select>

            <select id="data">
                <option value="data_manutencao">Selecione o Intervalo de tempo</option>
                <option value="opcao1">Últimos 7 dias</option>
                <option value="opcao2">Últimos 15 dias</option>
                <option value="opcao3">Últimos 30 dias</option>
                <option value="opcao4">Últimos 3 meses</option>
                <option value="opcao5">Últimos 6 meses</option>
                <option value="opcao6">Últimos 12 meses</option>
            </select>

            <select id="profissional">
                <option value="nome">Selecione o Profissional</option>
                <option value="opcao1">profissional 1</option>
                <option value="opcao2">profissional 2</option>
            </select>
            
            <div class="botao-buscar">
                <button id="buscar">Buscar</button>
            </div>
        </div>

        <div class="container">
            <div class="confirmar_excluir">
                <h4>Deseja realmente excluir a manutenção?</h4>
                <div id="botoesConfirmacao">
                    <button id="check"><img src="../../assets/icons/check-icon.png" alt="check" style="width: 25px;"></button>
                    <button id="close"><img id="close" src="../../assets/icons/close-icon.png" alt="close" style="width: 25px;"></button>
                </div>
            </div>
            <!-- Mensagem Temporária de Exclusão Bem-Sucedida -->
            <div class="mensagem_tempora" id="mensagemTempora" style="display: none;">
                <p>Manutenção excluída com sucesso!</p>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>LOCAL</th>
                        <th>MODELO</th>
                        <th>DATA</th>
                        <th>PROFISSIONAL</th>
                        <th>OPÇÕES</th>
                    </tr>
                </thead>

                <tbody id="historicList"></tbody> <!-- Aqui o ID está correto -->
            </table>
        </div>
    </main>
    
    <footer id="footer-geral"></footer>
    <script src="../historico/historico.js" defer></script>
</body>
</html>