.footer-fundo {
    background-color: var(--cor3);
    display: flex;
    height: 330px;
    width: 100%;
    margin-top: 60px;
}

.sobre {
    color: white;
    margin-top: 50px;
    margin-left: 90px;
}

#sobre-titulo {
    padding-bottom: 30px;
}

#sobre-subtitulo {
    color: rgba(255, 255, 255, 0.849);
}

.contatos {
    padding-top: 20px;
    margin-left: -5px;
}
.contatos a:hover {
    color: rgb(22, 17, 17); 
    transform: scale(1.2); 
    transition: color 0.3s ease, transform 0.3s ease; 
}   

.footer-link {
    margin: 0 8px;
    color: white;
}

.mapa {
    color: white;
    padding-top: 50px;
    padding-left: 150px;
}

#mapa-titulo {
    margin-bottom: 30px;
}
.mapa a:hover {
    color: black;
    transform: scale(1.08);
    transition: color 0.3s ease,  transform 0.4s ease;
    text-decoration: underline;
}

.footer-list {
    display: block;
    padding-bottom: 5px;
    color: rgba(255, 255, 255, 0.849);
    text-decoration: none;
}

.informativos {
    color: white;
    padding-top: 50px;
    padding-left: 150px;
}

#informativos-titulo {
    padding-bottom: 30px;
}

p {
    color: rgba(255, 255, 255, 0.849);
}

#informativos-subtitulo {
    padding-bottom: 20px;
}

.linha-divisoria {
    align-items: center;
    display: flex;
    width: 1200px;           
    height: 1px;           
    background-color: #fff; 
    margin: 20px 0;        
    opacity: 0.2;          
    position: absolute ;
    margin-bottom: 20%;
    
}


.creditos {
    display: flex;
    position: absolute;
    margin-top: 290px;
    margin-left: 36%;
    justify-content: center;
    align-content: center;
    align-items: center;

}
#criador {
    color: #6985ff;
}