<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aba Para Preenchimento</title>
    <link rel="shortcut icon" href="../../assets/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="preenchimento.css">

</head>
<body>

    <header id="header-geral"></header>

    <main>
        <form id="manutencao-form">
            <div class="titulo">
                <h2>ADICIONAR MANUTENÇÃO</h2>
                <h4>Aba para inserção de todos os dados</h4>
                <h4>referentes a manutenção</h4>
            </div>

            <div class="select">
                <label for="local">Local <span class="asterisco">*</span>
                    <div>
                        <img id="local-icon" src="../../assets/icons/local.png" alt="local">
                        <select name="local" id="local" required>
                            <option disabled selected >Selecione o local</option>
                            <option value="1° A">1° A</option>
                            <option value="1° B">1° B</option>
                            <option value="1° C">1° C</option>
                            <option value="2° A">2° A</option>
                            <option value="2° B">2° B</option>
                            <option value="2° C">2° C</option>
                            <option value="3° A">3° A</option>
                            <option value="3° B">3° B</option>
                            <option value="3° C">3° C</option>
                            <option value="Laboratorio de informática">Laboratorio de informática</option>
                            <option value="Sala de estudos">Sala de estudos</option>
                        </select>
                    </div>
                </label>

                <div>
                    <label for="modelo">Modelo e Marca <span class="asterisco">*</span>
                        <div>
                            <img id="tipoManu-icon" src="../../assets/icons/modeloEmarca.png" alt="manutenção">
                            <select name="modelo" id="modelo" required>
                                <option disabled selected value="">Selecione o fabricante e modelo</option>
                                <option value="Carrier Eco Saver Puron">Carrier Eco Saver Puron</option>
                                <option value="Daikin FTXS25J">Daikin FTXS25J</option>
                                <option value="LG-Dual Inverter">LG-Dual Inverter</option>
                                <option value="Inversor Fujitsu">Inversor Fujitsu</option>
                                <option value="Midea Liva Wi-Fi">Midea Liva Wi-Fi</option>
                                <option value="Gree Eco Garden">Gree Eco Garden</option>
                                <option value="Outros">Outros</option>
                            </select>
                        </div>
                    </label>
                </div>
            </div>

            <div class="select">
                    <label for="tipo-manutencao">Tipo da manutenção <span class="asterisco">*</span>
                        <div>
                            <img id="tipoManu-icon" src="../../assets/icons/tipoManu.png" alt="manutenção">
                            <select name="tipo-manutencao" id="tipo-manutencao" required>
                                <option disabled selected value="">Selecione o tipo</option>
                                <option value="Preventiva">Preventiva</option>
                                <option value="Corretiva">Corretiva</option>
                            </select>
                        </div>
                    </label>

                <label for="tipo-conserto">Tipo de conserto <span class="asterisco">*</span>
                    <div>
                        <img id="tipoManu-icon" src="../../assets/icons/tipoConsert.png" alt="manutenção">
                        <select name="tipo-conserto" id="tipo-conserto" required>
                            <option disabled selected value="">Selecione o tipo</option>
                            <option value="Limpeza dos filtros de ar">Limpeza dos filtros de ar</option>
                            <option value="Substituição dos filtros">Substituição dos filtros</option>
                            <option value="Limpeza de dreno">Limpeza de dreno</option>
                            <option value="Medição de tensão elétrica">Medição de tensão elétrica</option>
                            <option value="Medição de temperatura do ar">Medição de temperatura do ar</option>
                            <option value="Verificação do estado dos filtros">Verificação do estado dos filtros</option>
                            <option value="Outros">Outros</option>
                        </select>
                    </div>
                </label>
            </div>

            <div class="preenchiveis">
                <label for="data">Data <span class="asterisco">*</span>                  
                    <input id="data" type="date" required>
                </label>

                <label for="data2">Previsão da próxima manutenção
                    <input id="data2" type="date">
                </label>
            </div>

            <div class="preenchiveis2">
                <label for="profissional">Profissional <span class="asterisco">*</span>
                    <div>
                        <img id="profissional-icon" src="../../assets/icons/user.png" alt="profissional">
                        <input id="profissional" type="text" placeholder="Digite seu nome" required>
                    </div>
                </label>

                <label for="custo">Custo (opcional, caso o profissional seja terceirizado)
                    <div>
                        <img id="custo-icon" src="../../assets/icons/custo.png" alt="custo">
                        <input id="custo" type="number" placeholder="R$">
                    </div>
                </label>
            </div>

            <div class="text-box">
                <label for="detalhes">Detalhes (opcional, para destacar peças trocadas, reparos, entre outros)
                    <textarea name="detalhes" id="detalhes" rows="6" placeholder="Digite aqui"></textarea>
                </label>
            </div>

            <div class="text-box">
                <div class="alinhar-botoes">
                    <label for="observacoes">Observações (opcional, para anotar informações adicionais relevantes que o técnico tenha observado)
                        <textarea name="observacoes" id="observacoes" rows="6" placeholder="Digite aqui"></textarea>
                    </label>
                    <div class="botoao-salvar">
                        <button id="cancelar" type="button"><a id="textCancelar" href="../home/home.html">Cancelar</a></button>
                        <button type="submit" id="salvar">Salvar</button>
                    </div>
                </div>
            </div>

            <div class="mensagem_tempora" id="mensagemTempora" style="display: none;">
                <p>Manutenção adicionada com sucesso!</p>
            </div>
        </form>
    </main>

    <footer id="footer-geral"></footer>
    <script src="./preenchimento.js" defer></script>
</body>