@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

:root {
    --cor0: #FFFF;
    --cor2: #D7D7D7;
    --cor3: #0054A6;
}

.fundo {
    background-color: var(--cor3);
    display: flex;
    width: 100%;
    height: 130px;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    position: absolute;
    margin-left: -1220px;
}

.nav-style {
    display: flex;
    gap: 200px;
    list-style: none;
}

.nav-link a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

body {
    background-color: var(--cor2);
}

.fundo {
    background-color: var(--cor3);
    display: flex;
    width: 100%;
    height: 130px;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    position: absolute;
    margin-left: -1220px;
}

.nav-style {
    display: flex;
    gap: 200px;
    list-style: none;
}

.nav-link a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.titulo {
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo h2 {
    padding-bottom: 8px;
}

.titulo h4 {
    font-weight: lighter;
}

.seta-voltar {
    display: flex;
    margin: 32px 28px;
    position: absolute;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 35px;
}

.select {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 32px;
    font-weight: bold;
}

#local, #modelo, #tipo-manutencao, #tipo-conserto {
    display: block;
    width: 491.5px;
    height: 40px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.548);
    cursor: pointer;
}

.preenchiveis {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    font-weight: bold;
}

.preenchiveis2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    font-weight: bold;
}

#data, #data2, #profissional, #custo {
    display: block;
    width: 485px;
    height: 40px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.548);
    padding-left:5px ;
    margin-bottom: 32px;
}

.text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-bottom: 32px;
}

textarea {
    border: 1px solid black;
    padding-bottom: 32px;
    resize: none;
}

#detalhes, #observacoes {
    display: block;
    width: 1009px;
    height: 80px;
    padding-left: 4px;
    border-radius: 8px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.548);
}

::placeholder {
    padding-left: 4px;
    padding-top: 4px;
}

.botoao-salvar {
    display: flex;
    margin-left: 12.4%;
    gap: 12px;
}

#salvar {
    padding: 8px 16px 8px 16px;
    border-radius: 16px;
    background-color: var(--cor3);
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#cancelar {
    padding: 8px 16px 8px 16px;
    border-radius: 12px;
    background-color: white;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.footer-fundo {
    background-color: var(--cor3);
    display: flex;
    height: 360px;
    width: 100%;
    margin-top: 32px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.sobre {
    color: white;
    padding-top: 80px;
    padding-left: 90px;
}

#sobre-titulo {
    padding-bottom: 30px;
}

#sobre-subtitulo {
    color: rgba(255, 255, 255, 0.849);
}

.contatos {
    padding-top: 20px;
    margin-left: -5px;
}

.footer-link {
    margin: 0 8px;
    color: white;
}

.mapa {
    color: white;
    padding-top: 80px;
    padding-left: 150px;
}

#mapa-titulo {
    margin-bottom: 30px;
}

.footer-list {
    display: block;
    padding-bottom: 5px;
    color: rgba(255, 255, 255, 0.849);
    text-decoration: none;
}

.informativos {
    color: white;
    padding-top: 80px;
    padding-left: 150px;
}

#informativos-titulo {
    padding-bottom: 30px;
}

p {
    color: rgba(255, 255, 255, 0.849);
}

#informativos-subtitulo {
    padding-bottom: 20px;
}

.creditos {
    display: flex;
    position: absolute;
    margin-top: 315px;
    margin-left: 525px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#criador {
    color: #6985ff;
}

.footer-fundo {
    background-color: var(--cor3);
    display: flex;
    height: 360px;
    width: 100%;
    margin-top: 38px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.sobre {
    color: white;
    padding-top: 80px;
    padding-left: 90px;
}

#sobre-titulo {
    padding-bottom: 30px;
}

#sobre-subtitulo {
    color: rgba(255, 255, 255, 0.849);
}

.contatos {
    padding-top: 20px;
    margin-left: -5px;
}

.footer-link {
    margin: 0 8px;
    color: white;
}

.mapa {
    color: white;
    padding-top: 80px;
    padding-left: 150px;
}

#mapa-titulo {
    margin-bottom: 30px;
}

.footer-list {
    display: block;
    padding-bottom: 5px;
    color: rgba(255, 255, 255, 0.849);
    text-decoration: none;
}

.informativos {
    color: white;
    padding-top: 80px;
    padding-left: 150px;
}

#informativos-titulo {
    padding-bottom: 30px;
}

p {
    color: rgba(255, 255, 255, 0.849);
}

#informativos-subtitulo {
    padding-bottom: 20px;
}

.creditos {
    display: flex;
    position: absolute;
    margin-top: 315px;
    margin-left: 525px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#criador {
    color: #6985ff;
}