<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aba Para Preenchimento</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="preenchimento.css">
</head>
<body>

    <header id="header-geral"></header>

    <main>
        <form id="manutencao-form">
            <div class="titulo">
                <h2>ADICIONAR MANUTENÇÃO</h2>
                <h4>Aba para inserção de todos os dados</h4>
                <h4>referentes a manutenção</h4>
            </div>
    
            <div class="select">
                <div class="custom-select-wrapper">
                    <label for="local">Local <span class="asterisco">*</span></label>
                    <div class="custom-select">
                        <div class="custom-select-trigger" id="local-trigger">
                            <span>Selecione o local</span>
                            <i class="fa fa-chevron-down"></i> <!-- Ícone de seta -->
                        </div>
                        <ul class="custom-options" id="local-options">
                            <li class="custom-option" data-value="1° A">1° A</li>
                            <li class="custom-option" data-value="1° B">1° B</li>
                            <li class="custom-option" data-value="1° C">1° C</li>
                            <li class="custom-option" data-value="2° A">2° A</li>
                            <li class="custom-option" data-value="2° B">2° B</li>
                            <li class="custom-option" data-value="2° C">2° C</li>
                            <li class="custom-option" data-value="3° A">3° A</li>
                            <li class="custom-option" data-value="3° B">3° B</li>
                            <li class="custom-option" data-value="3° C">3° C</li>
                            <li class="custom-option" data-value="Laboratorio de informática">Laboratório de informática</li>
                            <li class="custom-option" data-value="Sala de estudos">Sala de estudos</li>
                        </ul>
                    </div>
                </div>
                    
                <div>
                    <div class="custom-select-wrapper">
                        <label for="local">Modelo e marca<span class="asterisco">*</span></label>
                        <div class="custom-select">
                            <div class="custom-select-trigger" id="modelo-trigger">
                                <span>Selecione o fabricante e modelo</span>
                                <i class="fa fa-chevron-down"></i> <!-- Ícone de seta -->
                            </div>
                            <ul class="custom-options" id="modelo-options">
                                <li class="custom-option" data-value="Carrier Eco Saver Puron">Carrier Eco Saver Puron</li>
                                <li class="custom-option" data-value="Daikin FTXS25J">Daikin FTXS25J</li>
                                <li class="custom-option" data-value="LG-Dual Inverter">LG-Dual Inverter</li>
                                <li class="custom-option" data-value="Inversor Fujitsu">Inversor Fujitsu</li>
                                <li class="custom-option" data-value="Midea Liva Wi-Fi">Midea Liva Wi-Fi</li>
                                <li class="custom-option" data-value="Gree Eco Garden">Gree Eco Garden</li>
                                <li class="custom-option" data-value="Outros">Outros</li>                               
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="select">
                <div class="custom-select-wrapper">
                    <label for="local">Tipo da manutenção <span class="asterisco">*</span></label>
                    <div class="custom-select">
                        <div class="custom-select-trigger" id="tipoManutencao-trigger">
                            <span>Selecione o tipo</span>
                            <i class="fa fa-chevron-down"></i> <!-- Ícone de seta -->
                        </div>
                        <ul class="custom-options" id="tipoManu-options">
                            <li class="custom-option" data-value="Preventiva">Preventiva</li>
                            <li class="custom-option" data-value="Corretiva">Corretiva</li>
                        </ul>
                    </div>
                </div>
    
                <div class="custom-select-wrapper">
                    <label for="local">Tipo de conserto <span class="asterisco">*</span></label>
                    <div class="custom-select">
                        <div class="custom-select-trigger" id="tipoConserto-trigger">
                            <span>Selecione o tipo</span>
                            <i class="fa fa-chevron-down"></i> <!-- Ícone de seta -->
                        </div>
                        <ul class="custom-options" id="tipoCons-options">
                            <li class="custom-option" data-value="Limpeza dos filtros de ar">Limpeza dos filtros de ar</li>
                            <li class="custom-option" data-value="Substituição dos filtros">Substituição dos filtros</li>
                            <li class="custom-option" data-value="Limpeza de dreno">Limpeza de dreno</li>
                            <li class="custom-option" data-value="Medição de tensão elétrica">Medição de tensão elétrica</li>
                            <li class="custom-option" data-value="Medição de temperatura do ar">Medição de temperatura do ar</li>
                            <li class="custom-option" data-value="Verificação do estado dos filtros">Verificação do estado dos filtros</li>
                            <li class="custom-option" data-value="Outros">Outros</li>
                        </ul>
                    </div>
                </div>
            </div>
    
            <div class="preenchiveis">
                <label for="data">Data <span class="asterisco">*</span>
                    <div>
                        <input id="data" type="date" required>
                    </div>
                </label>
                
                <label for="data2">Previsão da próxima manutenção
                    <div>
                        <input id="data2" type="date">
                    </div>
                </label>
            </div>
    
            <div class="preenchiveis2">
                <label for="profissional">Profissional <span class="asterisco">*</span>
                    <div>
                        <img id="profissional-icon" src="../../assets/icons/user.png" alt="profissional">
                        <input id="profissional" type="text" placeholder="Digite seu nome" required>
                    </div>
                </label>
    
                <label for="custo">Custo (opcional, caso o profissional seja terceirizado)
                    <div>
                        <img id="custo-icon" src="../../assets/icons/custo.png" alt="custo">
                        <input id="custo" type="number" placeholder="R$">
                    </div>
                </label>
            </div>
    
            <div class="text-box">
                <label for="detalhes">Detalhes (opcional, para destacar peças trocadas, reparos, entre outros)
                    <textarea name="detalhes" id="detalhes" rows="6" placeholder="Digite aqui"></textarea>
                </label>
            </div>
    
            <div class="text-box">
                <div class="alinhar-botoes">
                    <label for="observacoes">Observações (opcional, para anotar informações adicionais relevantes que o técnico tenha observado)
                        <textarea name="observacoes" id="observacoes" rows="6" placeholder="Digite aqui"></textarea>
                    </label>
                    <div class="botoao-salvar">
                        <button id="cancelar" type="button"><a id="textCancelar" href="../home/home.html">Cancelar</a></button>
                        <button type="submit" id="salvar">Salvar</button>
                    </div>
                </div>
            </div>
        
            <div class="mensagem_tempora" id="mensagemTempora" style="display: none;">
                <p>Manutenção adicionada com sucesso!</p>
            </div>
            <div id="mensagemErro" class="mensagem_erro"></div>
        </form>
    </main>
    
    <footer id="footer-geral"></footer>
    <script src="../preenchimento/preenchimento.js" defer></script>
</body>
</html>
