<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aba Para Preenchimento</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="preenchimento.css">

</head>
<body>
    <!-- O header será carregado aqui dinamicamente -->
    <header id="header-geral"></header>

    <div class="seta-voltar">
        <a href="../home/home.html"><img src="../../assets/icons/setavoltar2.png" alt="seta" style="width: 45px;"></a>
    </div>

    <main>
        <form id="manutencao-form">
            <div class="titulo">
                <h2>ADICIONAR MANUTENÇÃO</h2>
                <h4>Aba para inserção de todos os dados</h4>
                <h4>referentes a manutenção</h4>
            </div>
    
            <div class="select">
                <label for="local">Local *
                    <select name="local" id="local" required>
                        <option disabled selected value="">Selecione o local</option>
                        <option value="sala a">Sala a</option>
                        <option value="sala b">Sala b</option>
                        <option value="sala c">Sala c</option>
                        <option value="sala d">Sala d</option>
                        <option value="sala e">Sala e</option>
                    </select>
                </label>
    
                <label for="modelo">Modelo *
                    <select name="modelo" id="modelo" required>
                        <option disabled selected value="">Selecione o fabricante e modelo</option>
                        <option value="modelo 01 e marca 01">Daikin FTXS25J</option>
                        <option value="modelo 02 e marca 02">LG-Dual Inverter</option>
                        <option value="modelo 03 e marca 03">Inversor Fujitsu</option>
                        <option value="modelo 04 e marca 04">Midea Liva Wi-Fi</option>
                        <option value="modelo 05 e marca 05">Gree Eco Garden</option>
                    </select>
                </label>
            </div>
    
            <div class="select">
                <label for="tipo-manutencao">Tipo da manutenção *
                    <select name="tipo-manutencao" id="tipo-manutencao" required>
                        <option disabled selected value="">Selecione o tipo</option>
                        <option value="Preventiva">Preventiva</option>
                        <option value="Corretiva">Corretiva</option>
                    </select>
                </label>
    
                <label for="tipo-conserto">Tipo de conserto *
                    <select name="tipo-conserto" id="tipo-conserto" required>
                        <option disabled selected value="">Selecione o tipo</option>
                        <option value="Limpeza dos filtros de ar">Limpeza dos filtros de ar</option>
                        <option value="Substituição dos filtros">Substituição dos filtros</option>
                        <option value="Limpeza de dreno">Limpeza de dreno</option>
                        <option value="Medição de tensão elétrica">Medição de tensão elétrica</option>
                        <option value="Medição de temperatura do ar">Medição de temperatura do ar</option>
                        <option value="Verificação do estado dos filtros">Verificação do estado dos filtros</option>
                    </select>
                </label>
            </div>
    
            <div class="preenchiveis">
                <label for="data">Data *
                    <input id="data" type="date" required>
                </label>
                
                <label for="data2">Previsão da próxima manutenção
                    <input id="data2" type="date">
                </label>
            </div>
    
            <div class="preenchiveis2">
                <label for="profissional">Profissional *
                    <input id="profissional" type="text" placeholder="Digite seu nome" required>
                </label>
    
                <label for="custo">Custo (opcional, caso o profissional seja terceirizado)
                    <input id="custo" type="number" placeholder="R$">
                </label>
            </div>
    
            <div class="text-box">
                <label for="detalhes">Detalhes (opcional, para destacar peças trocadas, reparos, entre outros)
                    <textarea name="detalhes" id="detalhes" rows="6" placeholder="Digite aqui"></textarea>
                </label>
            </div>
    
            <div class="text-box">
                <label for="observacoes">Observações (opcional, para anotar informações adicionais relevantes que o técnico tenha observado)
                    <textarea name="observacoes" id="observacoes" rows="6" placeholder="Digite aqui"></textarea>
                </label>
            </div>
        
            <div class="botoao-salvar">
                <button id="cancelar" type="button">CANCELAR</button>
                <div class="botoes">
                    <button type="submit" id="salvar">SALVAR</button>
                </div>
            </div>
        </form>
    </main>
    
    <footer id="footer-geral"></footer>
    <script src="../preenchimento/preenchimento.js" defer></script>
</body>
</html>