@charset "UTF-8";
@import url("../header/header.css");
@import url("../footer/footer.css");
* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

:root {
    --cor0: #FFFF;
    --cor2: #D7D7D7;
    --cor3: #0054A6;
}

body {
    background-color: var(--cor2);
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px;
}

.titulo h2 {
    padding-bottom: 8px;
}

.titulo h4 {
    font-weight: lighter;
}

.select {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 32px;
    font-weight: bold;
}

#local, #modelo, #tipo-manutencao, #tipo-conserto {
    display: block;
    width: 491.5px;
    height: 40px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.548);
    cursor: pointer;
}

.preenchiveis {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    font-weight: bold;
}

.preenchiveis2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    font-weight: bold;
}

#data, #data2, #nome, #custo {
    display: block;
    width: 485px;
    height: 40px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.548);
    padding-left:5px ;
    margin-bottom: 32px;
}

.text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-bottom: 32px;
}

.alinhar-botoes {
    display: block;
}

textarea {
    border: 1px solid black;
    padding-bottom: 32px;
    resize: none;
}

#detalhes, #observacoes {
    display: block;
    width: 1009px;
    height: 80px;
    padding-left: 4px;
    border-radius: 8px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.548);
}

::placeholder {
    padding-left: 4px;
    padding-top: 4px;
}

.botoao-salvar {
    display: flex;
    gap: 16px;
    margin-top: 32px;
    margin-left: 0%;
}
#salvar:hover, #cancelar:hover {
    transform: scale(1.08); 
    filter: brightness(1.5); 
    transition: transform 0.3s ease, filter 0.3s ease; 
}
#salvar, #cancelar {
    border: none;
    padding: 8px 16px;
    border-radius: 12px;
    cursor: pointer;
}

#salvar {
    background-color: var(--cor3);
    color: white;
}

#cancelar {
    background-color: white;
    color: black;
}

.mensagem_tempora {
    display: none;
    position: fixed;
    top: 50px;
    right: -300px; 
    background-color: rgba(0, 161, 8, 0.7); 
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    opacity: 0; 
    transition: right 0.5s ease, opacity 0.5s ease; 
}